<head>
  <link rel="stylesheet" href="/stylesheets/tables.css" />
</head>

<% if @assignment.errors.any? %>
  <ul class='error_list'>
    <% @assignment.errors.full_messages.each do |msg|%>
      <li><%= msg%></li>
    <% end %>
  </ul>
<% end %>

<h3> <%=@subject.title %> </h3>

<table class="assignments" style="width: 70%">
  
  <thead>
    <tr>
      <td> Date </td>
      <td> Type </td>
      <td> Points </td>
      <td> Possible </td>
    </tr>
  </thead>
  
  <form action="/<%=@subject.slugify%>/assignments" method="post">
    <tr>
      <td class="input_cell"><input class='subinp' type="date" name="assignment[date]"></td>
      <td class="input_cell"> 
        <select class='subinp' id="category" name="assignment[category]">
          <option value="disabled" selected disabled>Choose a Type</option>
          <option value="homework"> homework </option>
          <option value="project"> project </option>
          <option value="test"> test </option>
        </select>
      </td>
      <td class="input_cell"> <input class='subinp' type="number", name="assignment[score_earned]" style="width: 40px;"> </td>
      <td class="input_cell"> <input class='subinp' type="number", name="assignment[score_possible]" style="width: 40px;"> </td>
      <td class="no_style"> <button type="submit">Add</button> </td>
    </tr>
  </form>
</table>
