<!-- Added if statement so that an empty <p> tag is not created -->
<% if flash[:notice] %>
  <p class="error_list"><%= flash[:notice] %></p>
<% end %>

<h3>Log In</h3>
<br>
<form action="/login" method="post">
  <table>
    <tr>
      <td><input type="text" name="username" class="subinp" placeholder="username"><td>
    </tr>
    <tr>
      <td><input type="password" name="password" class="subinp" placeholder="password"><td>
    </tr>
  </table>
  <br>
  <button type="submit">Login</button>
</form>
