<%= flash[:notice] %>
<h3>Signup</h3>
<br>
<form action="/signup" method="post">
    <h5><input class="creds" type="text" name="username" placeholder="username"></h5>
    <h5><input class="creds" type="password" name="password" placeholder="password"> </h5>
    <br>
    <button type="submit">Signup</button>
</form>