<% if @user.errors.any? %>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %><li>
        <% end %>
    </ul>
<% end %>
<h3>Signup</h3>
<br>

<form action="/signup" method="post">
    <table>
        <tr>
            <td><input type="text" name="username" class="subinp" placeholder="username"><td>
        </tr>
        <tr>
            <td><input type="password" name="password" class="subinp" placeholder="password"><td>
        </tr>
    </table>
    <br>
    <button type="submit">Signup</button>
</form>