<%= flash[:notice]%>

<h3>My Classes</h3>

<table>
  <% @subjects.each do |subject|%>
    <tr>
      <td style="padding: 5px; padding-left: 0px;"><a href="/<%=subject.slugify%>/assignments"><%= subject.title %></a></td>
        <form action="/subjects/<%=subject.slugify%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <td style="padding: 5px;"><button type="submit">Remove</button></td>
      </form>
    </tr>
  <% end %>
</table>
<br>

<a href="/subjects/new"><button type="button" style="width: 100px; padding: 5px;">Add Class</button></a>

